{
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["import"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "NSTemporaryDirectory": "readonly",
    "NSFont": "readonly",
    "MOPointer": "readonly",
    "NSMakeRange": "readonly",
    "NSMaxRange": "readonly",
    "MSSelfContainedHighLevelExporter": "readonly",
    "MSLayerMovement": "readonly",
    "NSMakeRect": "readonly",
    "MSBitmapLayer": "readonly",
    "MSLayerGroup": "readonly",
    "MSTextLayer": "readonly",
    "MSShapeGroup": "readonly",
    "NSArray": "readonly",
    "NSMakePoint": "readonly",
    "CGRectMake": "readonly",
    "MSArtboardGroup": "readonly",
    "MSPage": "readonly",
    "BCSketchInfo": "readonly",
    "log": "readonly",
    "NSApplication": "readonly",
    "NSDocumentController": "readonly",
    "NSAlert": "readonly",
    "NSComboBox": "readonly",
    "NSUserDefaults": "readonly",
    "AppController": "readonly",
    "MSImageData": "readonly",
    "NSImage": "readonly",
    "NSTextField": "readonly",
    "NSSlider": "readonly",
    "MSStyleFill": "readonly",
    "MSStyleBorder": "readonly",
    "MSColor": "readonly",
    "MSImmutableColor": "readonly",
    "MSDefaultStyle": "readonly",
    "MSLayer": "readonly",
    "MSDocumentData": "readonly",
    "MSSymbolMaster": "readonly",
    "MSSymbolInstance": "readonly",
    "MSOverridePoint": "readonly",
    "MSAssetLibrary": "readonly",
    "MSDocument": "readonly",
    "NSURL": "readonly",
    "NSSaveToOperation": "readonly",
    "NSData": "readonly",
    "NSDataBase64DecodingIgnoreUnknownCharacters": "readonly",
    "__command": "readonly",
    "MSFlowConnection": "readonly",
    "MSHotspotLayer": "readonly",
    "NSPredicate": "readonly",
    "MSRectangleShape": "readonly",
    "MSSymbolMasterReference": "readonly",
    "MSShareableObjectReference": "readonly",
    "MSSharedStyleReference": "readonly",
    "NSString": "readonly",
    "MSForeignSymbolProvider": "readonly",
    "MSForeignObjectCollector": "readonly",
    "MSStyleShadow": "readonly",
    "MSStyleInnerShadow": "readonly",
    "MSGradientStop": "readonly",
    "MSImmutableGradientStop": "readonly",
    "MSGradient": "readonly",
    "MSImmutableGradient": "readonly",
    "CGPointMake": "readonly",
    "MSSharedLayerReference": "readonly",
    "MSSharedTextReference": "readonly",
    "MSUserAssetLibrary": "readonly",
    "MSRemoteAssetLibrary": "readonly",
    "NSSaveAsOperation": "readonly",
    "NSSaveOperation": "readonly",
    "coscript": "readonly",
    "__mocha__": "readonly",
    "NSOpenPanel": "readonly",
    "NSOKButton": "readonly",
    "NSNull": "readonly",
    "MSSharedLayerStyleProvider": "readonly",
    "MSSharedTextStyleProvider": "readonly",
    "MSForeignObjectProvider": "readonly",
    "MSSharedStyle": "readonly",
    "MSStyle": "readonly",
    "MSDataOverride": "readonly",
    "MSImmutableArtboardGroup": "readonly",
    "MSImmutableLayerGroup": "readonly",
    "MSImmutableHotspotLayer": "readonly",
    "MSImmutableBitmapLayer": "readonly",
    "MSImmutableLayer": "readonly",
    "MSImmutablePage": "readonly",
    "MSImmutableShapeGroup": "readonly",
    "MSStyledLayer": "readonly",
    "MSImmutableStyledLayer": "readonly",
    "MSImmutableSymbolInstance": "readonly",
    "MSImmutableSymbolMaster": "readonly",
    "MSImmutableTextLayer": "readonly",
    "MSImmutableDocumentData": "readonly",
    "MSShapePathLayer": "readonly",
    "MSOvalShape": "readonly",
    "MSPolygonShape": "readonly",
    "MSStarShape": "readonly",
    "MSTriangleShape": "readonly",
    "MSImmutableShapePathLayer": "readonly",
    "MSImmutableOvalShape": "readonly",
    "MSImmutablePolygonShape": "readonly",
    "MSImmutableStarShape": "readonly",
    "MSImmutableTriangleShape": "readonly",
    "MSImmutableRectangleShape": "readonly",
    "NSParagraphStyleAttributeName": "readonly",
    "NSParagraphStyle": "readonly",
    "MSTextStyle": "readonly",
    "NSKernAttributeName": "readonly",
    "NSFontAttributeName": "readonly",
    "NSFontManager": "readonly",
    "NSBoldFontMask": "readonly",
    "NSItalicFontMask": "readonly",
    "NSSmallCapsFontMask": "readonly",
    "NSCompressedFontMask": "readonly",
    "NSCondensedFontMask": "readonly",
    "NSExpandedFontMask": "readonly",
    "NSNarrowFontMask": "readonly",
    "NSPosterFontMask": "readonly",
    "MSDefaultTextStyle": "readonly",
    "NSUnderlineStyleAttributeName": "readonly",
    "NSStrikethroughStyleAttributeName": "readonly",
    "MSSliceLayer": "readonly",
    "MSImmutableSliceLayer": "readonly",
    "MSExportFormat": "readonly",
    "NSThread": "readonly",
    "MSTheme": "readonly",
    "MSCurvePoint": "readonly",
    "MSPath": "readonly",
    "SVGPathInterpreter": "readonly",
    "NSBezierPath": "readonly",
    "MSJSONDataArchiver": "readonly",
    "MSJSONDictionaryUnarchiver": "readonly",
    "MSArchiveHeader": "readonly",
    "NSUTF8StringEncoding": "readonly",
    "MSExportRequest": "readonly",
    "MSExportManager": "readonly",
    "NSFileManager": "readonly",
    "NSDataWritingWithoutOverwriting": "readonly",
    "MSColorAsset": "readonly",
    "MSGradientAsset": "readonly",
    "MSPersistentAssetCollection": "readonly",
    "MSOverrideProperty": "readonly",
    "NSMutableArray": "readonly",
    "CGRectNull": "readonly",
    "NSColorSpace": "readonly",
    "NSColor": "readonly",
    "MSExporter": "readonly",
    "MSSVGImporter": "readonly",
    "MSPDFImporter": "readonly",
    "NSApp": "readonly",
    "CGPathGetBoundingBox": "readonly",
    "MSShapeEventHandler": "readonly",
    "NSIndexPath": "readonly",
    "NSScrollView": "readonly",
    "NSViewWidthSizable": "readonly",
    "NSViewHeightSizable": "readonly",
    "NSTextView": "readonly",
    "NSMakeSize": "readonly",
    "NSPopUpButton": "readonly",
    "NSMutableDictionary": "readonly",
    "NSDictionary": "readonly",
    "SmartLayout": "readonly",
    "MSInferredGroupLayout": "readonly",
    "MSFreeformGroupLayout": "readonly",
    "MSSwatch": "readonly",
    "MSSwatchReference": "readonly",
    "MSSwatchProvider": "readonly",
    "NSUUID": "readonly",
    "NSError": "readonly",
    "NSMapTable": "readonly",
    "MSTextAlignmentConverter": "readonly",
  }
}
