<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="shortcut icon" href="/images/favicons/favicon@2x.png">
  <link rel="mask-icon" href="/images/favicons/favicon.svg" color="rgb(252, 177, 0)">
  <link rel="apple-touch-icon-precomposed" href="/images/favicons/apple-touch-icon-precomposed.png">
  <link rel="icon" href="/images/favicons/apple-touch-icon-precomposed.png">
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <title>{% if page.title %}Sketch Developer — {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
    href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  {% seo title=false %}
</head>

<body class="developer {{ page.body_class }}">
  {% include main-nav.html %}
  {{content}}
  {% include footer.html %}
  <div class="overlay"></div>
  {% include scripts.html %}
  {% if page.search %}
  {% include search.html %}
  {% endif %}
</body>

</html>