---
layout: base
---
<section class="masthead background-dark">
  <div class="wrapper extra">
    <div class="row center-h row-content">
      <div class="col span-9 text-center">
        <h1>{{ page.title }}</h1>
        <p class="lead">{{ page.excerpt }}</p>
      </div>
    </div>
    <div class="row center-h row-cards">
      {% for card in page.masthead_cards limit:2 %}
      <div class="col span-6">
        <a href="{{card.link }}" class="card grad-{{ forloop.index }}">
          <img class="icon" src="{{ card.icon }}" width="48" height="48" alt="" />
          <span class="h2">{{ card.title }}</span>
          <span class="p">{{ card.description | markdownify }}</span>
          <span class="heading-caption">{{ card.link_label }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="row center-h row-links">
      {% for link in page.masthead_links limit:3 %}
      <div class="col span-4">
        <a href="{{link.link }}" class="text-center">
          <img src="{{ link.icon }}" width="48" height="48" alt="link.title" />
          <span class="h3 link-heading-arrow arrow-light">{{ link.title }}</span>
          <span class="p">{{ link.description | markdownify }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="wrapper extra">
    <div class="row center-h">
      <article class="col content span-8">
        {{ content }}
        {% include contribute.html %}
      </article>
    </div>
  </div>
</section>