@include tablet-and-above {
  .main-nav li > a {
    padding: 0.2625rem 0; //to compensate there's no buy button here
  }
}

.developer .content img {
  max-width: 100%;
  height: auto;
}

//Inverting site's logic
body > section {
  background-color: $background-light;
  box-shadow: inset 0 -1px 0 $border-dark;
}

body > section:nth-child(odd) {
  background-color: $background-light-dark;
}

body > section ~ footer {
  background: $background-light;
}

body > section:nth-child(even):last-of-type ~ footer {
  background: $background-light-dark;
}

//Contribute pill
.page-contribute {
  margin-top: 3rem;
  padding: 1rem;
  background: $background-light-dark;
  border: 1px solid $border-dark;
  border-radius: $radius-small;
  font-size: 0.8125rem;
  color: $text-dark-ultra-low;
}

@include tablet-and-above {
  .page-contribute em {
    float: right;
    margin-left: 1rem;
  }
}

@include tablet-and-below {
  .page-contribute em {
    display: block;
    margin-bottom: 0.5rem;
  }
}

//Tables
.content > table,
.content div:not(.highlight) > table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $radius-small;
  border: 1px solid $border-dark-high;
  background-color: rgba($action, 0.05);
  box-shadow: 0 1px 2px $border-dark;
  color: $text-dark;
  margin-bottom: 1em;
}

.content > table th,
.content div:not(.highlight) > table th,
.content > table td,
.content div:not(.highlight) > table td {
  padding: 1rem;
}

.content > thead td,
.content div:not(.highlight) thead td {
  font-weight: $font-regular;
}

@include tablet-and-above {
  .content div:not(.highlight) > table td {
    // width: 50%;
    border-bottom: 1px solid $border-dark;
    vertical-align: top;
  }
}

// FIXME It's inserting more trs than it should
tr:nth-last-child(2) td {
  border-bottom: 0;
}

@include tablet-and-below {
  td {
    display: block;
  }

  td + td {
    padding-top: 0;
    border-bottom: 1px solid $border-dark;
  }

  td:empty {
    padding-bottom: 0;
  }
}

.developer .content footer {
  margin-top: 3rem;
  padding-top: 2.5rem;
  border-top: 1px solid $border-dark;
}

.developer .content footer .h5 {
  margin: 0 0 1rem;
}

article.post header {
  margin-bottom: 2em;
  h1,
  h2 {
    margin-bottom: 0.2em;
  }
  p.meta {
    color: $text-dark-ultra-low;
    margin-top: 0.3em;
  }
}
