html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: $font-regular 16px/1.5 system-ui, -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Helvetica, Arial, sans-serif;

  // Enabling kerning and optional ligatures
  text-rendering: optimizeLegibility;
}

/*Basic heading styles*/
display-1,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
th,
.card-title,
.button,
.main-nav .nav-toggle,
.update-download {
  letter-spacing: -0.02em;
  word-wrap: break-word;
  font-weight: $font-semibold;
}

nav li a {
  font-weight: inherit;
}

html.fonts-loaded display-1,
html.fonts-loaded h1,
html.fonts-loaded .h1,
html.fonts-loaded h2,
html.fonts-loaded .h2,
html.fonts-loaded h3,
html.fonts-loaded .h3,
html.fonts-loaded h4,
html.fonts-loaded .h4,
html.fonts-loaded h5,
html.fonts-loaded .h5,
html.fonts-loaded h6,
html.fonts-loaded .h6,
html.fonts-loaded th,
html.fonts-loaded .heading-caption,
html.fonts-loaded .card-title,
html.fonts-loaded .button,
html.fonts-loaded .main-nav .nav-toggle,
html.fonts-loaded .update-download,
html.fonts-loaded .chip,
html.fonts-loaded strong.heading-block-title {
  font-family: 'Eina01-Bold', system-ui, -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

html.fonts-loaded .heading-caption > * {
  font-weight: normal;
}

display-1:first-child,
h1:first-child,
.h1:first-child,
h2:first-child,
.h2:first-child,
h3:first-child,
.h3:first-child,
h4:first-child,
.h4:first-child,
h5:first-child,
.h5:first-child,
h6:first-child,
.h6:first-child {
  margin-top: 0;
}

.heading-caption {
  position: relative;
  z-index: 9;
  color: $text-dark-ultra-low;
}

.background-dark .heading-caption {
  color: $text-light-ultra-low;
}

display-1 a,
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
th a,
.card-title a {
  font-weight: inherit;
  font-style: inherit;
}

h1:not([class]) + p,
.lead,
.lead-text {
  color: $text-dark;
}

.background-dark h1:not([class]) + p,
.background-dark .lead,
.background-dark .lead-text {
  color: $text-light-low;
}

p,
ul,
ol,
:root pre,
blockquote,
.note {
  margin: 0 0 1rem; //32px
}

p {
  word-wrap: break-word;
}

ul,
ol {
  list-style-position: outside;
  margin-top: 0;
  padding-left: 1.2em;
  &.row,
  &.row {
    padding-left: 0;
  }
}

ul {
  list-style-type: square;
}

strong {
  font-weight: $font-semibold;
  color: $text-dark-high;
}

.background-dark strong {
  color: $text-light-high;
}

.display-1 strong,
h1 strong,
.h1 strong,
h2 strong,
.h2 strong,
h3 strong,
.h3 strong,
h4 strong,
.h4 strong,
h5 strong,
.h5 strong,
th strong,
.card-title strong {
  font-weight: inherit;
}

.display-1 em,
h1 em,
.h1 em,
h2 em,
.h2 em,
h3 em,
.h3 em,
h4 em,
.h4 em,
h5 em,
.h5 em,
th em {
  font-style: normal;
  display: inline-block;
  padding: 0.09em;
  margin: -0.09em;
  background: $sk-orange-8;
}

.background-dark .display-1 em,
.background-dark h1 em,
.background-dark .h1 em,
.background-dark h2 em,
.background-dark .h2 em,
.background-dark h3 em,
.background-dark .h3 em,
.background-dark h4 em,
.background-dark .h4 em,
.background-dark h5 em,
.background-dark .h5 em,
.background-dark th em {
  background: $sk-indigo6;
}

pre code,
article blockquote,
.note {
  display: block;
  padding: 1rem; /*16px*/
  border-radius: $radius-default;
}

blockquote {
  color: $text-dark-low;
  position: relative;
}

.background-dark blockquote {
  color: $text-light-low;
}

article blockquote,
.note {
  background: $border-dark-low;
  color: $text-dark;
  border-left: 0.125rem solid $border-dark-high;
  &::before {
    display: none;
  }
}

.note {
  background-color: rgba($action, 0.05);
  border-color: $action-border;
}

article blockquote > * {
  margin-left: -0.125rem; //Compensating
}

th {
  text-align: left;
}

q::before {
  content: '\201C';
  margin-left: -0.6ex;
}

q::after {
  content: '\201D';
}

cite {
  font-style: normal;
}

pre,
code,
kbd {
  border-radius: $radius-default;
  //white-space: pre-wrap; /*Keeping the current text without crappy overflows*/
  overflow-wrap: break-word; /*Preventing ultra long stuff to overflow the container*/
  overflow-x: auto;
  font-weight: $font-regular;
  font-size: 0.875em; //13px
}

pre,
code {
  font-family: 'SF Mono', 'Source Code Pro', Consolas, Menlo, monospace;
}

code {
  padding: 0.2em 0.4em; //1px 4px
  background-color: $border-dark;
}

pre code {
  font-size: 0.875rem; //14px
  box-shadow: inset 0 0 0 1px $border-dark-high;
  background-color: $background-light-base;
  color: $text-dark-low;
}

kbd {
  padding: 0.2em 0.4em; //4px 8px
  font-family: inherit;
  background-color: $background-light-base;
  color: $text-dark-low;
  box-shadow: inset 0 0 0 1px $border-dark-ultra-high,
    inset 0 -2px 0 $border-dark;
}

.background-dark code {
  background-color: $sk-indigo6;
  color: $sk-indigo-8;
}

.background-dark kbd {
  background-color: $sk-tungsten6;
  color: $sk-tungsten-8;
}

.uppercase {
  text-transform: uppercase;
}

small,
.small {
  display: block;
  font-size: 0.8125rem; //13px
  line-height: 1.25rem; //20px
  color: $text-dark-low;
  font-weight: $font-regular;
}

.background-dark small,
.background-dark .small {
  color: $text-light-ultra-low;
}

small strong,
.small strong {
  color: $text-dark-low;
}

.background-dark small strong,
.background-dark .small strong {
  color: $text-light-low;
}

.note .h5 {
  margin-bottom: 1rem;
}

.date-modified {
  margin-top: 3rem;
  color: $text-dark-ultra-low;
}

@include tablet-and-above {
  h1.giga,
  .h1.giga {
    font-size: rem(95px);
    line-height: rem(96px);
    letter-spacing: rem(-1px);
    margin: 3rem 0 2rem;
  }

  h1,
  .h1 {
    font-size: rem(68px);
    line-height: rem(72px);
    margin: 3rem 0 2rem;
  }

  h2,
  .h2 {
    font-size: rem(42px);
    line-height: rem(48px);
    margin: 3rem 0 1.5rem;
  }

  h3,
  .h3 {
    font-size: rem(26px);
    line-height: rem(32px);
    margin: 2rem 0 1rem;
  }

  h4,
  .h4 {
    font-size: rem(20px);
    line-height: rem(28px);
    margin: 2rem 0 1rem;
  }

  h1:not([class]) + p,
  .lead,
  .lead-text,
  blockquote {
    font-size: rem(26px);
    line-height: rem(36px);
    margin: 1.5rem 0;
    letter-spacing: rem(-0.49px);
  }

  h5,
  .h5,
  .radio-tab {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem 0 0.5rem;
  }

  h6,
  .h6,
  .heading-caption {
    display: block;
    font-size: rem(13px);
    line-height: rem(20px); /*20px*/
    margin: 1.5rem 0 0.5rem; /*32px*/
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  nav li {
    display: block;
    font-size: rem(13px);
    font-weight: 600;
    line-height: rem(20px);
    text-transform: uppercase;
  }
}

@include tablet-and-below {
  h1.giga,
  .h1.giga {
    font-size: rem(68px);
    line-height: rem(72px);
    margin: 3rem 0 2rem;
  }

  h1,
  .h1 {
    font-size: rem(42px);
    line-height: rem(48px);
    margin: 3rem 0 1.5rem;
  }

  h2,
  .h2 {
    font-size: rem(26px);
    line-height: rem(32px);
    margin: 2rem 0 1rem;
  }

  h3,
  .h3 {
    font-size: rem(20px);
    line-height: rem(28px);
    margin: 2rem 0 1rem;
  }

  h4,
  .h4,
  h1:not([class]) + p,
  .lead,
  .lead-text,
  blockquote {
    font-size: rem(18px);
    line-height: rem(24px);
    margin: 2rem 0 1rem;
  }

  h5,
  .h5,
  .radio-tab {
    font-size: rem(14px);
    line-height: rem(20px);
    margin: 1.5rem 0 0.5rem;
  }

  h6,
  .h6,
  .heading-caption {
    display: block;
    font-size: rem(12px);
    line-height: rem(20px);
    margin: 1.5rem 0 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  nav li {
    display: block;
    font-size: rem(15px);
    font-weight: 600;
    line-height: rem(20px);
    text-transform: none;
  }
}

@include phone {
  h1.giga,
  .h1.giga {
    font-size: rem(52px);
    line-height: rem(56px);
    margin: 3rem 0 1.5rem;
  }
}
