html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.wf-loading {
    visibility: hidden;
  }
  &.wf-active,
  &.wf-inactive {
    visibility: visible;
  }
}

display-1,
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: 'Eina01-Bold', system-ui, -apple-system, BlinkMacSystemFont,
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -0.02em;
}

display-1,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  word-wrap: break-word;
  display: block;

  &:first-child {
    margin-top: 0;
  }

  a,
  strong {
    font-weight: inherit;
    font-style: inherit;
  }

  em {
    font-style: normal;
    display: inline-block;
    padding: 0.09em;
    margin: -0.09em;
    background: $sk-orange-8;

    .background-dark & {
      background: $sk-indigo6;
    }
  }
}

.heading-caption {
  color: $text-dark-ultra-low;

  .background-dark & {
    color: $text-light-ultra-low;
  }

  html.fonts-loaded & > * {
    font-weight: normal;
  }
}

h1,
.h1 {
  color: $text-dark-high;
  .background-dark & {
    color: $text-light-high;
  }
}

p,
.p {
  word-wrap: break-word;
  color: $text-dark;
  .background-dark & {
    color: $text-light;
  }
}

h1:not([class]) + p,
.lead,
.lead-text {
  color: $text-dark-low;

  .background-dark & {
    color: $text-light-low;
  }
}

p,
ul,
ol,
:root pre,
blockquote,
.note {
  margin: 0 0 1rem; //32px
}

ul,
ol {
  list-style-position: outside;
  margin-top: 0;
  padding-left: 1.2em;
  &.row,
  &.row {
    padding-left: 0;
  }
}

ul {
  list-style-type: square;
}

strong {
  font-weight: 600;
  color: $text-dark-high;

  .background-dark & {
    color: $text-light-high;
  }
}

pre code,
article blockquote,
.note {
  display: block;
  padding: 1rem; /*16px*/
  border-radius: $radius-default;
}

blockquote {
  color: $text-dark-low;
  position: relative;

  .background-dark & {
    color: $text-light-low;
  }

  article & > * {
    margin-left: -0.125rem; //Compensating
  }
}

article blockquote,
.note {
  background: #fff2c3;
  color: $text-dark;
  &::before {
    display: none;
  }
}

th {
  text-align: left;
}

q::before {
  content: '\201C';
  margin-left: -0.6ex;
}

q::after {
  content: '\201D';
}

cite {
  font-style: normal;
}

pre,
code,
kbd {
  border-radius: $radius-default;
  //white-space: pre-wrap; /*Keeping the current text without crappy overflows*/
  overflow-wrap: break-word; /*Preventing ultra long stuff to overflow the container*/
  overflow-x: auto;
  font-weight: $font-regular;
  font-size: 0.875em; //13px
}

pre,
code {
  font-family: 'SF Mono', 'Source Code Pro', Consolas, Menlo, monospace;
}

code {
  padding: 0.2em 0.4em; //1px 4px
  background-color: $border-dark;

  .background-dark & {
    background-color: $border-light-high;
    color: $text-light-high;
  }
}

pre code {
  font-size: 0.875rem; //14px
  box-shadow: inset 0 0 0 1px $border-dark-high;
  background-color: $background-light-base;
  color: $text-dark-low;
}

kbd {
  padding: 0.2em 0.4em; //4px 8px
  font-family: inherit;
  background-color: $background-light-base;
  color: $text-dark-low;
  box-shadow: inset 0 0 0 1px $border-dark-ultra-high,
    inset 0 -2px 0 $border-dark;

  .background-dark & {
    background-color: $sk-tungsten6;
    color: $sk-tungsten-8;
  }
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

small,
.small {
  display: block;
  font-size: 0.8125rem; //13px
  line-height: 1.25rem; //20px
  color: $text-dark-low;
  font-weight: $font-regular;

  .background-dark & {
    color: $text-light-ultra-low;
  }

  strong {
    color: $text-dark-low;

    .background-dark & {
      color: $text-light-low;
    }
  }
}

.note .h5 {
  margin-bottom: 1rem;
}

@include tablet-and-above {
  h1.giga,
  .h1.giga {
    font-size: rem(95px);
    line-height: rem(96px);
    letter-spacing: rem(-1px);
    margin: 6rem 0 2rem;
  }

  h1,
  .h1 {
    font-size: rem(68px);
    line-height: rem(72px);
    margin: 6rem 0 2rem;
  }

  h2,
  .h2 {
    font-size: rem(42px);
    line-height: rem(48px);
    margin: 6rem 0 1.5rem;
  }

  h3,
  .h3 {
    font-size: rem(26px);
    line-height: rem(32px);
    margin: 3rem 0 1rem;
  }

  h4,
  .h4 {
    font-size: rem(20px);
    line-height: rem(28px);
    margin: 2rem 0 1rem;
  }

  h1:not([class]) + p,
  .lead,
  .lead-text {
    font-size: rem(26px);
    line-height: rem(36px);
    margin: 1.5rem 0;
    letter-spacing: rem(-0.49px);
  }

  h5,
  .h5,
  .radio-tab {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1.5rem 0 0.5rem;
  }

  h6,
  .h6,
  .heading-caption {
    display: block;
    font-size: rem(13px);
    line-height: rem(20px);
    margin: 1.5rem 0 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  .main-nav nav li {
    display: block;
    font-size: rem(13px);
    font-weight: 600;
    line-height: rem(20px);
    text-transform: uppercase;
  }

  .main-footer nav li {
    font-size: rem(13px);
    font-weight: 600;
    line-height: rem(20px);
  }

  .text-center-tablet-and-above {
    text-align: center;
  }
}

@include tablet-and-below {
  h1.giga,
  .h1.giga {
    font-size: rem(68px);
    line-height: rem(72px);
    margin: 4rem 0 2rem;
  }

  h1,
  .h1 {
    font-size: rem(42px);
    line-height: rem(48px);
    margin: 4rem 0 1.5rem;
  }

  h2,
  .h2 {
    font-size: rem(26px);
    line-height: rem(32px);
    margin: 4rem 0 1rem;
  }

  h3,
  .h3 {
    font-size: rem(20px);
    line-height: rem(28px);
    margin: 2rem 0 1rem;
  }

  h4,
  .h4,
  h1:not([class]) + p,
  .lead,
  .lead-text,
  blockquote {
    font-size: rem(18px);
    line-height: rem(24px);
    margin: 2rem 0 1rem;
  }

  h5,
  .h5,
  .radio-tab,
  .main-footer nav li {
    font-size: rem(14px);
    line-height: rem(20px);
    margin: 1.5rem 0 0.5rem;
  }

  h6,
  .h6,
  .heading-caption {
    display: block;
    font-size: rem(12px);
    line-height: rem(20px);
    margin: 1.5rem 0 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  .main-nav nav li {
    display: block;
    font-size: rem(15px);
    font-weight: 600;
    line-height: rem(20px);
    text-transform: none;
  }

  .main-footer nav li {
    font-size: rem(13px);
    font-weight: 600;
    line-height: rem(20px);
  }

  .text-center-tablet-and-below {
    text-align: center;
  }
}

@include phone {
  h1.giga,
  .h1.giga {
    font-size: rem(52px);
    line-height: rem(56px);
    margin: 4rem 0 1.5rem;
  }

  .text-center-phone {
    text-align: center;
  }
}
