@import 'variables';

.toc-wrapper,
.toc-wrapper > *,
.content-wrapper,
.content-wrapper > * {
  padding: 0;
}

.content > table {
  width: auto;
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.content > .highlighter-rouge {
  margin-bottom: 0;
  clear: none;
}

.main-nav {
  position: fixed;
  top: 0;
}

pre code {
  color: inherit;
}
