<section class="submit-ideas background-dark">
  <div class="wrapper extra">
    <div class="row center-h">
      <div class="col span-8 text-center">
        <h2>Not a developer? Submit an idea</h2>
        <p class="lead">Although you'll need some programming experience to extend Sketch yourself, you can also <a
            href="https://github.com/sketchplugins/plugin-requests/issues">submit an idea</a> to let us and the
          community know how you'd like to see Sketch extended.</p>
        <p class="lead">Take a look at the <a href="https://sketch.com/extensions/plugins">list of plugins</a> the
          community has
          already built.</p>
      </div>
    </div>
  </div>
</section>
<section class="main-footer" role="contentinfo">
  <div class="wrapper extra">
    <h2 class="text-center">We’re here to help</h2>
    <div class="row row-links">
      <a href="https://sketchplugins.com" class="col span-4 text-center">
        <img src="/images/icons/48/icon-flarum.svg" width="48" height="48" alt="" />
        <span class="h3 link-heading-arrow arrow-dark">Developer Community</span>
        <span class="p">Join our dev forums to discuss plugins and third party integration.</span>
      </a>
      <a href="https://github.com/BohemianCoding/SketchAPI/tree/develop/examples/" class="col span-4 text-center">
        <img src="/images/icons/48/icon-code-export.svg" width="48" height="48" alt="" />
        <span class="h3 link-heading-arrow arrow-dark">Examples</span>
        <span class="p">Explore some sample plugins built by the Sketch Team.</span>
      </a>
      <a href="mailto:developer@sketch.com" class="col span-4 text-center">
        <img src="/images/icons/48/icon-support.svg" width="48" height="48" alt="" />
        <span class="h3 link-heading-arrow arrow-dark">Support</span>
        <span class="p">Contact us and we’ll get back to you as soon as we can.</span>
      </a>
    </div>
  </div>
  <div class="wrapper extra">
    <nav>
      <small>&copy; {{ 'now' | date: "%Y" }} Sketch B.V.</small>
      <ul role="navigation">
        <li>
          <a href="https://sketch.com/">Sketch Home</a>
        </li>
        <li>
          <a href="https://github.com/BohemianCoding/SketchAPI">GitHub</a>
        </li>
        <li>
          <a href="https://twitter.com/sketchapp">Twitter</a>
        </li>
        <li>
          <a href="https://www.facebook.com/Sketchapp">Facebook</a>
        </li>
      </ul>
    </nav>
  </div>
</section>