<div class="search-form hide">
  <form action="" id="search-form" method="get" accept-charset="utf-8" autocomplete="off" autocorrect="off"
    autocapitalize="off" class="wrapper">
    <div class="search-contents span-6">
      <input type="search" name="yo" placeholder="Search" value="" class="search-field" />
      <span class="search-close" title="Close search"></span>
      <nav class="search-results"></nav>
    </div>
  </form>
</div>
<script src="/js/lunr.min.js"></script>
<script src="{{ page.script }}"></script>