.highlighter-rouge {
  margin-bottom: 1rem;
}

.highlight pre,
pre,
.highlight .hll,
.highlight code {
  background-color: $background-light;
}

.highlight .c {
  color: #a6a6a6;
  font-style: italic;
}

.highlight .err {
  color: #fa6400;
  background-color: #fee0cc;
}

.highlight .k {
  font-weight: 600;
}

.highlight .o {
  font-weight: 600;
}

.highlight .cm {
  color: #a6a6a6;
  font-style: italic;
}

.highlight .cp {
  color: #a6a6a6;
  font-weight: 600;
}

.highlight .c1 {
  color: #a6a6a6;
  font-style: italic;
}

.highlight .cs {
  color: #a6a6a6;
  font-weight: 600;
  font-style: italic;
}

.highlight .gd {
  color: #000;
  background-color: #fee0cc;
}

.highlight .gd .x {
  color: #000;
  background-color: #fdfdff;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gr {
  color: #c85000;
}

.highlight .gh {
  color: #a6a6a6;
}

.highlight .gi {
  color: #000;
  background-color: #ddffdd;
}

.highlight .gi .x {
  color: #000;
  background-color: #69dfc4;
}

.highlight .go {
  color: #666;
}

.highlight .gp {
  color: #262626;
}

.highlight .gs {
  font-weight: 600;
}

.highlight .gu {
  color: #480c59;
  font-weight: 600;
}

.highlight .gt {
  color: #fa6400;
}

.highlight .kc {
  font-weight: 600;
}

.highlight .kd {
  font-weight: 600;
}

.highlight .kn {
  font-weight: 600;
}

.highlight .kp {
  font-weight: 600;
}

.highlight .kr {
  font-weight: 600;
}

.highlight .kt {
  color: #24062c;
  font-weight: 600;
}

.highlight .m {
  color: #57a900;
}

.highlight .s {
  color: #fa6400;
}

.highlight .n {
  color: #262626;
}

.highlight .na {
  color: #417f00;
}

.highlight .nb {
  color: #0074cc;
}

.highlight .nc {
  color: #24062c;
  font-weight: 600;
}

.highlight .no {
  color: #417f00;
}

.highlight .ni {
  color: #6d1386;
}

.highlight .ne {
  color: #fa6400;
  font-weight: 600;
}

.highlight .nf {
  color: #fa6400;
  font-weight: 600;
}

.highlight .nn {
  color: #262626;
}

.highlight .nt {
  color: #c85000;
}

.highlight .nv {
  color: #417f00;
}

.highlight .ow {
  font-weight: 600;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight .mf {
  color: #57a900;
}

.highlight .mh {
  color: #57a900;
}

.highlight .mi {
  color: #57a900;
}

.highlight .mo {
  color: #57a900;
}

.highlight .sb {
  color: #fa6400;
}

.highlight .sc {
  color: #fa6400;
}

.highlight .sd {
  color: #fa6400;
}

.highlight .s2 {
  color: #fa6400;
}

.highlight .se {
  color: #fa6400;
}

.highlight .sh {
  color: #fa6400;
}

.highlight .si {
  color: #fa6400;
}

.highlight .sx {
  color: #fa6400;
}

.highlight .sr {
  color: #57a900;
}

.highlight .s1 {
  color: #fa6400;
}

.highlight .ss {
  color: #6d1386;
}

.highlight .bp {
  color: #a6a6a6;
}

.highlight .vc {
  color: #417f00;
}

.highlight .vg {
  color: #417f00;
}

.highlight .vi {
  color: #417f00;
}

.highlight .il {
  color: #28816d;
}

.highlight .gc {
  color: #a6a6a6;
  background-color: #fdfdff;
}

.highlight table {
  border-radius: 0.125rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.highlight table,
.highlight tbody {
  display: block;
}

.highlight tr {
  display: flex;
  width: 100%;
}

.highlight .gutter.gl {
  padding: 1rem;
  background: #fbfbfb;
  border-right: 1px solid rgba(0, 0, 0, 0.03);
  -webkit-user-select: none;
  user-select: none;
}

.highlight .gutter.gl pre {
  color: #a6a6a6;
  background: transparent;
}

.highlight td.code {
  width: calc(100% - 4.5rem);
  flex: 1 0 0;
  position: relative;
}

.highlight td.code::after {
  content: '';
  width: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff);
}

.highlight td.code pre {
  padding: 1rem;
  white-space: pre;
  overflow-wrap: inherit;
  overflow-x: auto;
}

li .highlight {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
