---
title: Blog
layout: blog-index
---
<section class="blog">
{% for post in paginator.posts %}
  <article class="post">
    <header>
      <h1><a href="{{post.url}}">{{post.title}}</a></h1>
      <p class="meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} — {{ post.author }}{% endif %}{% if post.meta %} — {{ post.meta }}{% endif %}</p>
    </header>
    {{ post.content | markdownify }}
  </article>
{% endfor %}
{% if paginator.total_pages > 1 %}
  <div class="pagination group">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="prev">Prev</a>
  {% comment %}
  {% else %}
    <span>&laquo; Prev</span>
  {% endcomment %}
  {% endif %}
  {% comment %}
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  {% endcomment %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next</a>
  {% comment %}
  {% else %}
    <span>Next &raquo;</span>
  {% endcomment %}
  {% endif %}
  </div>
{% endif %}
</section>
