/*Main Navigation*/
.main-nav {
  border: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      90deg,
      hsla(0, 100%, 100%, 0),
      hsla(0, 100%, 100%, 0.1) 50%,
      hsla(0, 100%, 100%, 0) 100%
    )
    5%;
  z-index: 100;
}

.main-nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Logo*/
.main-nav h1 {
  margin: 0;
  height: 3.125rem; /*50px*/
  display: inline-block;
}

[role='banner'] {
  height: 3.125rem; /*50px*/
}

.sketch-wordmark {
  transition: opacity 0.2s $ease-in-out-quad;
}

[role='banner']:hover .sketch-wordmark,
[role='banner']:focus .sketch-wordmark {
  opacity: 0.85;
}

.main-nav .nav-toggle {
  display: none;
}

@include tablet-and-above {
  .main-nav {
    width: 100%;
    padding-top: 0.4375rem; /*7px*/
    padding-bottom: 0.4375rem; /*7px*/
  }

  .main-nav nav {
    flex-wrap: nowrap; //to prevent nav elements to fall into a new line
  }

  .main-nav h1 {
    flex: 1;
  }

  .main-nav ul {
    flex: 3.3; //to balance with the logo
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav a.buy {
    color: $action;
    &:hover,
    &:active,
    &:focus {
      color: $action-high;
    }
  }

  .main-nav.background-dark a.buy {
    color: $action-light;
    &:hover,
    &:active,
    &:focus {
      color: $action-light-low;
    }
  }
}

@include tablet-and-below {
  body {
    padding-top: 3.5rem; //56px
  }

  [id]:target::before {
    content: '';
    display: block;
    padding-top: 3.5rem; //Hack to make targets scroll below the main navigation (as it's fixed)
    margin-top: -3.5rem;
  }

  .main-nav {
    position: fixed;
    will-change: transform; //Perf!
    width: 100%;
    z-index: 99;
    margin-top: -3.5rem; //56px
    padding-top: 0.1875rem; //3px
    padding-bottom: 0.1875rem; //3px
  }

  .main-nav nav {
    display: flex;
    flex-wrap: wrap; //as the sections menu will fall into a new line
    justify-content: space-between;
    align-items: center;
  }

  .main-nav ul {
    flex: 0 1 100%; //in order to make it full width
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.1s ease-out,
      max-height 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); /* Up */
    position: relative;
    top: 0.25rem; //4px to compensate the 3px padding + 1px border
    border-top: 1px solid $divider-light;
  }

  .main-nav ul.active {
    max-height: 999px; //in order to animate transition
    opacity: 1;
    transition: opacity 0.05s ease-in,
      max-height 1.2s cubic-bezier(0.075, 0.82, 0.165, 1); /* Down */
  }

  .main-nav li:not(:last-child) {
    padding: 0;
    border-bottom: 1px solid $divider-light;
  }

  .main-nav ul a {
    display: block;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding: 1rem;
    position: relative;
  }

  //Disclosure indicator arrows
  .main-nav ul a:not(.active)::before {
    content: ''; //\203a
    display: inline-block;
    width: 0.375rem; //6px
    height: 0.625rem; //10px
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%2213%22%20viewBox%3D%220%200%208%2013%22%3E%3Cpath%20fill%3D%22%23207cdf%22%20fill-rule%3D%22evenodd%22%20d%3D%22M0%201.5L1.5%200l5.792%205.792c.39.39.394%201.022%200%201.416L1.5%2013%200%2011.5l4.294-4.294c.39-.39.393-1.02%200-1.412L0%201.5z%22%2F%3E%3C%2Fsvg%3E');
    background-size: cover;
    opacity: 0.6;
  }

  .main-nav ul a:not(.active)::before {
    -webkit-filter: hue-rotate(276deg) saturate(0) saturate(0) brightness(100%);
    filter: hue-rotate(276deg) saturate(0) saturate(0) brightness(100%);
  }

  // Navigation Toggle
  .main-nav .nav-toggle {
    display: inline-block;
    cursor: pointer;
    color: $action-high;

    padding: 0.8125rem; //Fitts
    margin: -0.8125rem; //Compensating
  }

  .main-nav .nav-toggle {
    color: $text-light-high;
  }

  .nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba($action-high, 0.08);
  }

  .nav-toggle::after {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    position: relative;
    top: -2px;
    margin-left: 0.375rem; /*4px*/
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-top: 0.25rem solid $action-high;
    transition: transform 0.12s ease-out;
  }

  .nav-toggle::after {
    border-top-color: $text-light-high;
  }

  .nav-toggle.active::after {
    transform: rotate(180deg);
  }
}
